html {
    width: 100%;
    height: 100%;
}

/*Textura*/
body{
    background-image: url(../img/email-pattern.png);
}

/*Encabezado*/
header
{
    display: block;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
    background-color: #2E923D;
    color: #fff;
    padding: 4%;
}
header h2
{
    display: inline-block;
    width: 85%;
}

header a
{
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

/*MENU*/
nav
{
    display: block;
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
    background-color: #2E923D;
}
nav ul
{
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
    
}
nav ul li
{
	display: inline-block;
    width: 24%;
    padding: 1%;
}

nav ul li a
{
    text-decoration: none;
    color: #fff;
}

nav ul li a i{
	display:block;
	margin:auto;
    width: 100%;
    text-align: center;
    font-size: 30px !important;
}
nav ul li a span{
    display: block;
    text-align: center;
    width: 100%;
}

nav ul .active
{
    background-color: #FE9901;
}

/*tabs*/

.home-card-header{
    background-color: #2E923D;
}

.home-card-header a{
    color: #fff;
}
.home-card-body .card{
    background-color: rgba(48, 255, 0, 0.2);
}
.home-card-body .card-active{
    background-color: rgba(0, 209, 255, 0.2);
}

.home-card-body h1{
    color: red;
}

/*Horario*/
.card-schedule{
    background-color: #2E923D;
    padding: 0% 0% 0% 3%;
}

/*Horario*/
.event-section{
    display: block;
    color: black;
    border-bottom: gray 2px solid;

}

.event-section .event-number{
    text-align: center;
    width: 30%;
    display: inline-block;

    border-right: gray 2px solid;

}
.event-section .event-name{
    width: 60%;
    display: inline-block;

}

.event-section .event-name-active{
    background-color: rgba(0, 209, 255, 0.2);
    border: 1px solid rgb(2, 2, 136);
    margin-left: 3%;

}


